// src/styles/main.scss

// 1) abstract
@use './abstract/variables';
@use './abstract/mixins';

// 2) layout
@use './layout/main-layout';

// 3) components

@use './components/accommodation-details';
@use './components/accommodation-gallery';
@use './components/accommodations-map';
@use './components/admin-accommodations';
@use './components/admin-booking-details';
@use './components/admin-bookings';
@use './components/admin-dashboard';
@use './components/admin-form';
@use './components/admin-layout';
@use './components/admin-users';
@use './components/admin';
@use './components/auth';
@use './components/badges-status';
@use './components/badges';
@use './components/booking-card';
@use './components/booking-details';
@use './components/booking-form';
@use './components/bookings';
@use './components/buttons';
@use './components/cards';
@use './components/filters';
@use './components/footer-extension';
@use './components/footer';
@use './components/forms';
@use './components/header';
@use './components/hero';
@use './components/info-pages';
@use './components/location-map';
@use './components/map';
@use './components/modal';
@use './components/notifications';
@use './components/offers';
@use './components/pagination';
@use './components/payment';
@use './components/profile';
@use './components/searchForm';

// 4) пакетні стилі — імпортуємо як пакет, без шляху до node_modules
@use '../../node_modules/react-image-gallery/styles/scss/image-gallery';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  color: variables.$text-color;
  background-color: variables.$background-color;
}
