@use '../../abstract/variables' as *;
@use '../../abstract/mixins' as *;

.badge {
  @include badge-base;

  // fallback → якщо не задано background
  &:not([style*='background']) {
    font-weight: 600;
    color: var(--badge-default-color);
    background: var(--badge-default-bg);
    border: 1px solid var(--badge-default-border);
  }
}

// Автоматична генерація типів житла і зручностей
@each $name, $color in $badge-colors {
  .badge-type-#{$name},
  .badge-amenity-#{$name} {
    color: $white-color;
    background: $color;
  }
}

// кількість спалень
.badge-size {
  font-weight: 600;
  color: var(--badge-size-color);
  background: var(--badge-size-bg);
  border: 1px solid var(--badge-size-border);

}

// група
.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
