// src/styles/components/header/brand
@use '../../abstract/variables' as *;

.brand {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 800;
  color: $primary-color;
  text-decoration: none;

  svg {
    width: 22px;
    height: 22px;
  }

  &:hover {
    color: $primary-600;
  }
}
