@use '../../abstract/variables' as *;
@use '../../abstract/mixins' as *;

.nav-desktop {
  display: none;
  gap: 1.2rem;
  align-items: center;

  @include media(md) {
    display: flex;
    align-items: center;
    gap: 2rem; // відстань між пунктами
  }
}

ul {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav-list {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: $heading-color;
  text-decoration: none;

  &::after {
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    height: 3px;
    content: '';
    background: transparent;
    border-radius: 99px;
    transform: scaleX(0);
    transform-origin: left;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease;
  }

  &:hover {
    color: $primary-color;
  }

  &:hover::after,
  &.active::after {
    background: $primary-color;
    transform: scaleX(1);
  }

  &.active {
    color: $primary-color;
  }
}
