// src/styles/components/_badges.scss
@use '../abstract/variables' as *;

.badge {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  padding: 0.35rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: $white-color;
  border-radius: $radius-sm;
  box-shadow: $box-shadow-sm;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  /* ──────────────── 🏠 Типи житла ──────────────── */
  &.badge-type-house {
    background-color: $badge-house;
  }

  &.badge-type-apartment {
    background-color: $badge-apartment;
  }

  &.badge-type-hotel {
    background-color: $badge-hotel;
  }

  &.badge-type-vacation-home {
    background-color: $badge-vacation-home;
  }

  &.badge-type-cottage {
    background-color: $badge-cottage;
  }

  &.badge-type-hostel {
    background-color: $badge-hostel;
  }

  &.badge-type {
    background-color: $primary-700;
  }

  /* ──────────────── 📐 Розмір ──────────────── */
  &.badge-size {
    background-color: $badge-hostel;
  }

  /* ──────────────── 🔧 Зручності ──────────────── */
  &.badge-amenity {
    font-size: 0.85rem;

    &.wifi {
      background-color: $badge-wifi;
    }

    &.kitchen {
      background-color: $badge-kitchen;
    }

    &.ac {
      background-color: $badge-ac;
    }

    &.parking {
      background-color: $badge-parking;
    }

    &.washer {
      background-color: $badge-washer;
    }

    &.other {
      background-color: $badge-other;
    }
  }

  /* ──────────────── 📌 Статуси бронювань ──────────────── */
  &.badge-status {
    &.pending {
      background-color: $warning-color;
    }

    &.confirmed {
      background-color: $success-color;
    }

    &.canceled {
      background-color: $danger-color;
    }

    &.expired {
      background-color: $gray-600;
    }

    /* ──────────────── 🏢 Статуси житла ──────────────── */
    &.requires-verification {
      color: $white-color;
      background-color: $warning-color;
    }

    &.permitted {
      color: $white-color;
      background-color: $success-color;
    }

    &.rejected {
      color: $white-color;
      background-color: $danger-color;
    }
  }
}

/* Група бейджів */
.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
