// src/styles/components/_booking-form.scss
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.booking-form {
  padding-top: 1rem;

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.total-price {
  margin: 0.75rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: $primary-color;
}
