@use '../abstract/variables' as *;
@use 'sass:math';
@use './badges';

.cards-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); // ✅ auto-fit + 280px щоб влізало більше

  gap: 1.5rem;
  align-items: stretch;

  // ✅ зробимо ширший контейнер
  max-width: $max-width-2xl;
  padding-inline: clamp($container-pad-min, 3.5vw, $container-pad-max);
  margin-inline: auto;

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.card-custom {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: $white-color;
  border-radius: $radius;
  box-shadow: $box-shadow-card;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border 0.2s ease;

  &:hover {
    border: 1px solid $primary-color;
    box-shadow: $box-shadow-card-hover;
    transform: translateY(-4px);
  }
}

.card-img-top-custom {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-custom:hover .card-img-top-custom {
  transform: scale(1.03);
}

.card-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;

  .btn {
    margin-top: auto;
  }
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.city-label {
  font-size: 1rem;
  font-weight: 600;
  color: $primary-color;
}

.card-price {
  margin-top: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-color;
}

.card-badges {
  @extend .badge-group;

  margin: 0.5rem 0 1rem;
}
