// src/styles/components/_forms.scss
@use "sass:color";
@use "../abstract/variables" as *;

.auth-form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: $heading-color;
}

.form-control {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 0.5rem 1rem;
  box-shadow: none;
  
  &:focus {
    border-color: color.adjust($primary-color, $lightness: -10%);
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  
  &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
      border-color: color.adjust($primary-color, $lightness: -10%);
  }
}
