@use '../abstract/variables' as *;

.hero-section {
  position: relative;
  z-index: 10;
  padding: 80px 0;
  color: $white-color;
  text-align: center;
  background-color: rgb(11 95 89 / 80%);
  backdrop-filter: saturate(180%) blur(10px);
}

.hero-heading {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 2px 12px rgb(0 0 0 / 20%);
}

.hero-subheading {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  text-shadow: 0 1px 8px rgb(0 0 0 / 15%);
  opacity: 0.9;
}

.date-inputs {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input {
    flex: 1;
  }
}

.date-inputs span {
  font-weight: 700;
  opacity: 0.6;
}
