// src/styles/components/_location-map.scss
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.location-map-container {
  height: 400px;
  margin-top: 2rem;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: $box-shadow-md;

  .leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: $radius;
  }
}
