// src/styles/components/_map.scss
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.map-container {
  height: 500px;
  width: 100%;
  border-radius: $radius;
  overflow: hidden;
  box-shadow: $box-shadow-md;

  .leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: $radius;
  }
}
