// src/styles/components/_map.scss
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.map-container {
  width: 100%;
  height: 100%; // ✅ ОНОВЛЕНО: тепер карта займає всю висоту
  overflow: hidden;
  border-radius: $radius;
  box-shadow: $box-shadow-md;

  .leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: $radius;
  }
}
