// src/styles/components/_notifications.scss

@use "../abstract/variables" as *;

.notification {
  padding: 1rem 1.5rem;
  border-radius: $radius;
  border: none;
  font-weight: 600;
  box-shadow: $box-shadow-md;
  transition: all 0.5s ease-in-out;
}

.notification-success {
  background-color: $success-color;
  color: $white-color;
}

.notification-danger {
  background-color: $danger-color;
  color: $white-color;
}

.notification-info {
  background-color: #17a2b8;
  color: $white-color;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
