// src/styles/components/_notifications.scss

@use '../abstract/variables' as *;

.notification {
  padding: 1rem 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: $radius;
  box-shadow: $box-shadow-md;
  transition: all 0.5s ease-in-out;
}

.notification-success {
  color: $white-color;
  background-color: $success-color;
}

.notification-danger {
  color: $white-color;
  background-color: $danger-color;
}

.notification-info {
  color: $white-color;
  background-color: #17a2b8;
}

.fixed-bottom-right {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1050;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
