@use '../abstract/variables' as *;

.offers-section {
  padding: 3rem 0 2rem;
  text-align: center;
}

.section-heading {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: $heading-color;
}

.section-subheading {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: $muted-color;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.25rem;
}

.offer-card {
  display: flex;
  flex-direction: column;
  grid-column: span 4; /* 3 в ряд на десктопі */

  @media (max-width: $breakpoint-lg) {
    grid-column: span 6;
  } /* 2 в ряд */

  @media (max-width: $breakpoint-md) {
    grid-column: span 12;
  } /* 1 в ряд */
}

.offer-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
